<tr>
      <div class='user_card'>
        <%= image_tag user.photo%>
        <h2><%= link_to(user.name, "users/#{user.id}")%></h2>
        <small>Number of posts:<%= user.posts_counter%></small>
      </div>
    </tr>