<h1>Listing Users</h1>
<div class="users_container">
  <tbody>
    <%= render @users %>
  </tbody>
</div>
<% if current_user%>
<%=link_to 'Add Post', "/users/#{current_user.id}/posts/new"%>
<% end %>
